[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_port=""
    database_name="moviedb"
    database_user="root"
    database_password=""
    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""
    locale="en"
    secret="c3031fb62f410410345bbcab91c45b4f5"
