{% extends '::base.html.twig' %}
{% block body %}
<h1>Movie creation</h1>

<form id="edit_movie_form" action="{{ path('movie_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
        {% include 'BassterMovieDbBundle:Movie:movieDbResult.html.twig' %}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('movie') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
